[Unit]
Description=Nabaztag text to speech daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
EnvironmentFile=/opt/pynab/nabtts/nabtts.conf
ExecStart=/opt/pynab/venv/bin/python -m nabtts.nabtts
PIDFile=/run/nabtts.pid

[Install]
WantedBy=multi-user.target
